---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Perfected Particles</title>
  </head>
  <body>
    <slot />
  </body>
</html>
